body{
    margin:0;
    background-color:rgb(237, 239, 252);
}
header{
    width:100%; 
    background-color:rgb(162, 165, 179); 
    padding: 6px;
    height:120px;
    font-family:Georgia;
}
#logo {
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px; 
    margin-right: 10px;
   }
nav {
    clear: both;
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width:960px; 
    background-color:rgb(143, 152, 192); 
    margin: 0 auto; 
    margin-top:10px; 
    padding:10px;
   }  
    .n li { 
       display: inline;
    }
    .n a {
        color: rgb(0, 0, 0);
        padding: 5px 110px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
 
      }

   .my-blocks {
    text-align: left;
   }
   .my-blocks div {
    max-width:960px; 
    background-color:rgb(176, 179, 199); 
    margin: 0 auto; 
    margin-top:10px; 
    padding:10px;
   }
   table{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    text-align: center;
    }
    table, td, th {
    border: 2px solid #1c286b;
    }
    .z{
        background-color: #b275da;
    }
    .nh{
        background-color: #89da75;
    }
    .ch{
        background-color: #da75b8;
    }
    td, th {
    padding: 3px;
    width: 240px;
    height: 35px;
    }
    th {
    background-color: #6acffd;
    }
footer{
    margin-top:20px;
    width:100%; 
    background-color:rgb(162, 165, 179); 
    padding: 6px;
    height:120px;
}